# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.dvi
*-converted-to.*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.nav
*.snm
*.vrb

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Model outputs
*.npy
*.pickle
*.pkl

# Virtual environments
.venv/

# Data (never commit)
data

#AI
copilot-instructions.md
.claude/

